@page
@model comp6324WebAppIdentify.Pages.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.deviceID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.deviceID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.CreateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.CreateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.CloseTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.CloseTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Job.Done)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Job.Done)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement.brightness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement.brightness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement.vdd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement.vdd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Measurement.timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Measurement.timestamp)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Details" asp-route-id="@Model.Job.JobID" asp-route-test=0>Refresh</a> |
    <a asp-page="./Details" asp-route-id="@Model.Job.JobID" asp-route-test=1>Enable test</a> |
    <a asp-page="./Details" asp-route-id="@Model.Job.JobID" asp-route-test=2>Disable test</a> |
    <a asp-page="./Index">Back to List</a>
</div>