@page
@model comp6324WebAppIdentify.Pages.TestSchedules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Emergency light Test Schedule</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestSchedule[0].deviceID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestSchedule[0].ScheduleTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestSchedule[0].Done)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestSchedule) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.deviceID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Done)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ScheduleID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ScheduleID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ScheduleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
